@model ZsfProject.Models.ShopDetailModel
@{
    var shopInfo = Model.ShopInfo;
    var shopDishes = Model.ShopDishesList.ToList();
    var shopDisheCategories = shopDishes.GroupBy(r => new { Id = r.CategoryId, Value = r.CategoryValue, OrderIndex = r.DisheCategoryOrder })
        .Select(r => new { r.Key.Id, r.Key.Value, r.Key.OrderIndex }).OrderByDescending(r => r.OrderIndex);
    var shopComments = Model.ShopComments;
    string webTitle = shopInfo.Name;
    ViewBag.Title = webTitle + "_";
    ViewBag.Description = shopInfo.Name + "最新的外卖菜单、订餐电话、送餐详情。";
    ViewBag.KeyWords = shopInfo.Name + "外卖电话 " + shopInfo.Name + "外卖菜单 ";
    string shopImagePath = "~/Contents/ShopImages/";
    int userLevel = int.Parse(ZsfProject.Models.ZsfAuthorizeAttribute.GetRole(User.Identity.Name));
}
@Html.HiddenFor(m => m.ShopInfo.Id)
<div class="shop_box">
    <div class="lf">
        <div class="sh_detail">
            <h3>店铺详情</h3>
            <table>
                <tbody>
                    <tr>
                        <td class="tl">送餐速度：</td><td>约@(shopInfo.DeliveryTime)分钟</td>
                    </tr>
                    <tr>
                        <td class="tl">起送价格：</td><td>@(shopInfo.UpSendPrice)元</td>
                    </tr>
                    <tr>
                        <td class="tl">人均消费：</td><td>@(shopInfo.AveragePayMoney)元</td>
                    </tr>
                    <tr>
                        <td class="tl">配送区域：</td><td>
                            @{
                                string serviceArea = "";
                                foreach(var area in Model.ShopServiceAreasList)
                                {
                                    serviceArea += area.ServiceArea + " ";
                                }
                                serviceArea = serviceArea.Trim().Replace(' ', '、');
                            }
                            <span class="s_area">@serviceArea</span></td>
                    </tr>
                    <tr>
                        <td class="tl">外送时间：</td><td>@shopInfo.OfficeTimeBegin.ToString(@"h\:mm")~@shopInfo.OfficeTimeEnd.ToString(@"h\:mm")</td>
                    </tr>
                    <tr>
                        <td class="tl">商家地址：</td><td>@shopInfo.Address</td>
                    </tr>
                    @if(!String.IsNullOrWhiteSpace(shopInfo.Remark))
                    {
                    <tr>
                        <td class="tl">备注：</td><td style="font-weight:bold">@Html.Raw(shopInfo.Remark)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="shop_map">
            @if(shopInfo.Longitude != 0)
            {
            <div id="shop_loc_map" style="height:250px; width:100%"></div>
            <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=856584f8640037f295ca7392225a95da"></script>
            <script type="text/javascript">
                // 百度地图API功能
                var map = new BMap.Map("shop_loc_map");            // 创建Map实例
                var point = new BMap.Point(@shopInfo.Longitude, @shopInfo.Latitude);    // 创建点坐标
                var marker = new BMap.Marker(point);        // 创建标注
                map.centerAndZoom(point, 18);                     // 初始化地图,设置中心点坐标和地图级别。
                //map.enableScrollWheelZoom();                          //启用滚轮放大缩小
                map.addControl(new BMap.NavigationControl({type:BMAP_NAVIGATION_CONTROL_ZOOM}));  
                map.addOverlay(marker); 
            </script>
            }
        </div>
        
        <div class="order"> 
            <h3>点菜单</h3>
            <div class="bd">
                <ul class="order_ls"></ul>
                <div class="order_tprice">
                <strong>总计：</strong><span class="c"><strong>0</strong>元</span></div>
            </div>
        </div>
    </div>
    <div class="rg">
        <div class="sh_info">
            <div class="base_info">
                <div class="bs_lf">
                    <div class="sh_name">
                        <h3>@shopInfo.Name
                        @if(userLevel == 9 || (ViewBag.UserId == shopInfo.CreateBy && userLevel == 4))
                        {
                            <a href="/shop/edit/@Model.ShopInfo.Id" class="sh_action_icon edit_icon" title="编辑店铺"></a>
                            <span class="sh_action_icon hide_icon@(shopInfo.Hidden ? " hidden" : null)" title="@(shopInfo.Hidden ? "显示" : "隐藏")" onclick="ToggleShopHidden(this, @shopInfo.Id)"></span>
                        }
                        </h3>
                        @if(ViewBag.UserFavoriteThisShop == true)
                        {
                            <div class="fav fav_on">已收藏</div>
                        }
                        else
                        {
                            <div class="fav fav_off white_btn">收藏店铺</div>
                        }
                        <div class="clear"></div>
                    </div>
                    <div class="sh_stars">
                        <div class="stars"><div class="stars_on" style="width:@(shopInfo.Stars * 100 / 5)%"></div></div>
                    </div>
                    <div class="sh_phone">
                        <span class="p">@shopInfo.PhoneNumber</span>
                    </div>
                </div>
                <div class="bs_rg">
                    <div class="sh_pic">
                        <img class="sh_logo" src="@Url.Content(shopImagePath + shopInfo.Logo)" alt="@shopInfo.Name" title="@shopInfo.Name" />
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="show_lb_box">
            <div class="show_lb" id="show_lb">
                <span class="menu now" target="sh_dishes">菜单</span>
                <span class="menu" target="sh_cmt">用户评论(@ViewBag.ShopCommentsCount)</span> 
                <span class="menu" target="my_cmt">我要评论</span>
            </div>
        </div>
        <div class="sh_m">
            <div class="sh_dishes">
                <ul class="cat">
                    <li><span class="dishe_cat now" cid="-1">全部</span></li>
                    @foreach(var category in shopDisheCategories)
                    {
                        <li><span class="dishe_cat" cid="@category.Id">@category.Value</span></li>
                    }
                    <div class="clear"></div>
                </ul>
                <div class="dtl">
                    @foreach(var cat in shopDisheCategories)
                    {
                        <ul class="dishe_ls" cid="@cat.Id">
                            <li>
                                <h4>@cat.Value</h4>
                                <ul class="dishe_dt">
                                    @foreach(var dishe in shopDishes.Where(r => r.CategoryId == cat.Id).OrderByDescending(r => r.DisheOrder).ThenBy(r => r.Price))
                                    {
                                        <li id="dishe_@(dishe.Id)" price="@dishe.Price" name="@dishe.Name" gift="@dishe.Gift" remark="@dishe.Remark" gift="@dishe.Gift" class="dishe_i">
                                            <span class="d_name">@(dishe.Name.Length > 10 ? dishe.Name.Substring(0, 10) + "..." : dishe.Name)</span><a href="javascript:void(0)" class="buy"></a><span class="check"></span><span class="d_price">@(dishe.Price)元</span>
                                            @if(!String.IsNullOrWhiteSpace(dishe.Remark))
                                            {
                                                <span class="d_remark">详</span>
                                            }
                                            @if(!String.IsNullOrWhiteSpace(dishe.Gift))
                                            {
                                                <span class="d_gift">赠</span>
                                            }
                                            <div class="clear"></div>
                                        </li>
                                    }
                                    <div class="clear"></div>
                                </ul>
                            </li>
                        </ul>
                    }
                </div>
            </div>
            <div class="sh_cmt" id="sh_cmt">
                    <h4>
                        用户评论</h4>
                    @foreach(var cmt in shopComments)
                    {
                        <div class="cmt">
                            <div class="u_cmt">
                                <header>
                                    <div class="stars"><div class="stars_on" style="width:@(cmt.Stars * 100 / 5)%"></div></div><span class="d">@cmt.CreateTime</span><div class="clear"></div>
                                </header>
                                <div class="bd">
                                    @Html.Raw(cmt.Comment)
                                </div>
                            </div>
                            <div class="pt">
                            </div>
                            <div class="u_info">
                                <img alt="@cmt.UserName" width="60" src="@Url.Content(cmt.UserPhoto)"/>
                                <span>@cmt.UserName</span>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                    }
                    <div class="page_list">
                        @{
                            int pageNowIndex = ViewBag.PageNowIndex;
                            int pageSize = ViewBag.PageSize;
                            int pagesCount = ViewBag.PagesCount;
                            int pageStartIndex = ViewBag.PageStartIndex;
                            int pageEndIndex = ViewBag.PageEndIndex;
            
                            <ul class="pg_ul">
                                @if(pageNowIndex > 1)
                                {
                                    if(pagesCount > 9)
                                    {
                                    <li class="f">@Html.ActionLink("首页", null, null, null, null, "show_lb", new { id = ViewBag.Id, p = 1 }, null)</li>
                                    }
                                    <li class="p">@Html.ActionLink("上一页", null, null, null, null, "show_lb", new { id = ViewBag.Id, p = pageNowIndex - 1 }, null)</li>
                                }
                                @if(pagesCount != 1)
                                {
                                    for(int i = pageStartIndex; i <= pageEndIndex; i++)
                                    {
                                    <li class="i">
                                        @if(i == pageNowIndex)
                                        {
                                            <strong>@i</strong>
                                        }
                                        else
                                        {
                                            @Html.ActionLink(i.ToString(), null, null, null, null, "show_lb", new { id = ViewBag.Id, p = i }, null);
                                        }
                                    </li>
                                    }
                                }
                                @if(pagesCount > pageNowIndex)
                                {
                                    <li class="n">@Html.ActionLink("下一页", null, null, null, null, "show_lb", new { id = ViewBag.Id, p = pageNowIndex + 1 }, null)</li>
                                    if(pagesCount > 9)
                                    {
                                    <li class="l">@Html.ActionLink("末页", null, null, null, null, "show_lb", new { id = ViewBag.Id, p = pagesCount }, null)</li>
                                    }
                                }
                                <div class="clear"></div>
                            </ul>
                        }
                    </div>
                </div>
            <div class="my_cmt">
                <h4>我的评论</h4>
                @using(Html.BeginForm("AddComment", "Shop", FormMethod.Post, new { id = "cmtForm" }))
                {
                    @Html.Hidden("CommentStar", 0)
                    @Html.Hidden("SHopId", shopInfo.Id)
                    @Html.Hidden("RequestUrl", Request.Url.PathAndQuery)
                    <div class="val st">评分：<div id="cmt_star"></div></div>
                    <div class="val sped">送餐速度：<input name="DeliveryTime" id="DeliveryTime" class="cmt_val" type="text" onkeydown="CheckInputForNumber(this)" />分钟</div>
                    <div class="ct">内容：<textarea id="CommentContent" name="CommentContent" rows="8" 
                    placeholder="请填写评论内容..." style="@(User.Identity.IsAuthenticated ? null : "display:none")"></textarea>
                    <div class="lg_at" style="@(User.Identity.IsAuthenticated ? null : "display:inline-block")">
                            <span onclick="ShowUserLoginDialog()">登陆</span>后评论，获取积分</div>
                    @if(User.Identity.IsAuthenticated)
                    {
                        <input type="submit" class="bt" value="发表" />
                    }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
    <input type="hidden" value="@ViewBag.UserName" id="UserName" />
    <input type="hidden" value="@ViewBag.UserId" id="UserId" />
    <input type="hidden" value="@ViewBag.UserLevel" id="UserLevel" />
    <input type="hidden" value="@shopInfo.Id" id="ShopId" />
    <input type="hidden" value="@shopInfo.Name" id="ShopName" />
    <input type="hidden" value="@shopInfo.Longitude" id="ShopLongitude" />
</div>

<div class="dialog order_exists">
    <h3><img class="close" src="/Contents/Images/close_14.png" onclick="CloseDialogBox(this)" title="关闭" />有菜单未提交<div class="clear"></div></h3>
    <div class="dlg_cnt">
        <div class="msg"><a class="sh_n" href=""></a>餐厅的菜单未提交，提交或清空后便可挑选其他餐厅美食~</div>
    </div>
    <div class="dlg_acts"><a class="dlg_act clear_order white_btn" href="javascript:void(0)" onclick="ClearOrder(this)">清空点菜单</a><a class="dlg_act show_order green_btn" href="" target="_blank">查看点菜单</a></div>
</div>
<script src="@Url.Content("~/Scripts/jquery.signalR-2.0.0.min.js")"></script>
<script src="@Url.Content("~/signalr/hubs")"></script>
<script src="@Url.Content("~/Scripts/auto-order.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.rate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    var orderList;
    var totalOrderPrice = 0;
    var shopId = $('#ShopId').val();
    var longitude =$('#ShopLongitude').val();

    function OrderList(id, name, price, count, orderId) {
        this.id = id;
        this.name = name;
        this.price = price;
        this.count = count;
        this.orderDetailId = orderId;
    }

    $(document).ready(function () {
        var nowUrl = window.location.href;

        var $d_more_info = $('<div class="d_more_info"></div>');
        if (nowUrl.indexOf('#show_lb') > 0) {
            ToggleMenuContent('.menu[target="sh_cmt"]');
        }

        $('.menu').click(function () {
            return ToggleMenuContent(this);
        });

        $('.dishe_cat').click(function () {
            if ($(this).hasClass('now'))
                return false;

            $('.dishe_cat.now').removeClass('now');
            $(this).addClass('now');

            var cid = $(this).attr('cid');

            if (cid == -1)
                $('ul.dishe_ls').show();
            else {
                $('ul.dishe_ls[cid=' + cid + ']').show();
                $('ul.dishe_ls[cid!=' + cid + ']').hide();
            }
            return false;
        });

        $('a.buy').click(function () {
            AddOrder(this, 1);
            return false;
        });

        $('li.dishe_i').hover(function () {
            if ($(this).find('.buy').length != 0)
                $(this).addClass('dh_hover').find('.buy').html('来一份');

            var $more_info = $d_more_info.clone();

            if ($(this).find('.d_gift').length != 0)
                $more_info.append('<div class="gift">赠：' + $(this).attr('gift') + '</div>');

            if ($(this).find('.d_remark').length != 0)
                $more_info.append('<div class="remark">' + $(this).attr('remark') + '</div>');

            $more_info.appendTo(this).css({ top: '-' + $more_info.height() + 'px' });

        }, function () {
            $(this).removeClass('dh_hover').find('.buy').html('');
            $(this).find('.d_more_info').remove();
        });

        $('#cmt_star').rate({
            onClick: function (stars) { $('#CommentStar').val(stars); }
        });

        $('#cmtForm').submit(function () {
            if ($('#CommentStar').val() == '' || $('#CommentStar').val() == 0) {
                alert('请 "评分"');
                return false;
            }

            if ($('#PayMoney').val() == '') {
                alert('请填写 "人均消费"');
                return false;
            }

            if ($('#DeliveryTime').val() == '') {
                alert('请填写 "送餐速度"');
                return false;
            }

            if ($('#CommentContent').val() == '') {
                alert('请填写 "评论内容"');
                return false;
            }
        });

    });                       
    //document.ready end

    $(function () {
        $('.cmt_star').tipTip({ delay: 0 });
        $('.sh_action_icon').tipTip({ delay: 0 });
    });

    window.onscroll = function () {
        MoveLayout();
    }

    function ToggleChat(e) {
        $('.chat').toggle(100);

        if ($(e).text() == '收起')
            $(e).text('展开');
        else
            $(e).text('收起');
    }

    function MoveLayout() {
        //菜单浮动框
        if (document.documentElement.scrollTop >= (longitude == 0 ? 345 : 615)) {
            if (navigator.userAgent.indexOf("MSIE 6") > 0) {
                $('.lf .order').css({ 'top': (document.documentElement.scrollTop - 135) + 'px', 'position': 'absolute' });
            }
            else
                $('.lf .order').css('position', 'fixed');
        }
        else if (document.body.scrollTop >= (longitude == 0 ? 365 : 635)) {
            $('.lf .order').css({ 'position': 'fixed' });
        }
        else
            $('.lf .order').css({ 'position': 'relative', top: 0 });

        //菜单、用户评论选项切换面板
        if (document.body.scrollTop >= 292)
            $('.show_lb').css({ 'position': 'fixed', 'width': $('.show_lb').width() + 'px' }).addClass('bg');
        else if (document.documentElement.scrollTop >= 292) {
            if (navigator.userAgent.indexOf("MSIE 6") > 0)
                $('.show_lb').css({ 'position': 'absolute', 'top': document.documentElement.scrollTop - 135 + 'px', 'width': $('.show_lb').width() + 'px' }).addClass('bg');
            else
                $('.show_lb').css({ 'position': 'fixed', 'width': $('.show_lb').width() + 'px' }).addClass('bg');
        }
        else
            $('.show_lb').css({ 'position': 'relative', 'top': 0 }).removeClass('bg');
    }

    function ShareShop() {
        document.cookie = "shopviewcount=0";
        var dayDate = new Date();
        dayDate.setDate(dayDate.getDate() + 1);
        //sharedshop表示今天已经分享过店铺
        document.cookie = "sharedshop=true;expires=" + dayDate.toLocaleString();
    }

    function ClearOrder(e) {
        AddCookie('u_order=', -1);
        CloseDialogBox(e);
    }

    function RemoveOrder(orderId) {
        orderHub.server.deleteOrderDetail(orderId);
    }

    function DeleteOrder(e, count, price) {
        var $parent = $(e).parents('li');
        var id = orderList.dishes[$parent.attr('index')].id;


        $buyOrder = $('<a href="javascript:void(0)" class="buy"></a>').click(function () { AddOrder(this); })
        $('#dishe_' + id).removeClass('dh_checked').find('.check_mark').removeClass('check_mark').before($buyOrder);
        $parent.remove();
        orderList.dishes[$parent.attr('index')] = null;

        totalOrderPrice -= parseInt(count * price);
        OrderPriceChange(totalOrderPrice);
    }

    function CheckInputForNumber() {
        if ((event.keyCode > 47 && event.keyCode < 58) || (event.keyCode > 95 && event.keyCode < 106) || event.keyCode == 8) {
            event.returnValue = true;
        } else
            event.returnValue = false;
    }

    function CreateNewOrder(orderIndex, available) {
        var disheInfo = orderList.dishes[orderIndex];

        var $newOrder = $('<li ' + (available ? '' : 'class="unavailable"') + ' index="' + orderIndex + '" orderid="' + disheInfo.orderDetailId
            + '" disheid="' + disheInfo.id + '"><span class="n">' + disheInfo.name + '</span><div class="dsh_dt"><span class="l" title="减一份"></span><span class="c">'
            + disheInfo.count + '</span>' + '<span class="m" title="加一份"></span><span>份</span><span class="d" title="删除"></span><span class="p">'
            + disheInfo.price + '元</span><div class="clear"></div></div><div class="clear"></div></li>');

        if (!available)
            return $newOrder;

        $newOrder.find('.l').click(function () {
            var $parent = $(this).parents('li');
            var count = $(this).next().html();
            var price = orderList.dishes[$parent.attr('index')].price;
            var orderId = orderList.dishes[$parent.attr('index')].orderDetailId;

            totalOrderPrice -= parseInt(price);
            orderList.dishes[$parent.attr('index')].count--;
            OrderPriceChange(totalOrderPrice, orderId, count - 1);

            if (count == 1) {
                RemoveOrder(orderId);
            }
            else {
                $(this).next().html(--count);
                $parent.find('.p').html(price * count + '元');
            }
        });

        $newOrder.find('.m').click(function () {
            var $parent = $(this).parents('li');
            var count = $(this).prev().html();
            $(this).prev().html(++count);
            var price = orderList.dishes[$parent.attr('index')].price;
            var orderId = orderList.dishes[$parent.attr('index')].orderDetailId;

            $parent.find('.p').html(price * count + '元');

            orderList.dishes[$parent.attr('index')].count++;
            totalOrderPrice += parseInt(price);
            OrderPriceChange(totalOrderPrice, orderId, count);
        });

        $newOrder.find('.d').click(function () {
            var $parent = $(this).parents('li');
            var count = orderList.dishes[$parent.attr('index')].count;
            var price = orderList.dishes[$parent.attr('index')].price;
            var orderDetailId = orderList.dishes[$parent.attr('index')].orderDetailId;

            RemoveOrder(orderDetailId);
        });

        return $newOrder;
    }

    function AddOrder(e, count) {
        var $parent = $(e).parent();

        var id = $parent.attr('id').replace(/[^\d]/g, '');
        var price = $parent.attr('price');
        if (!count)
            count = 1;

        AddUserOrderDetail(shopId, id, price, count);
    }

    function AddUserOrderDetail(shopId, id, price, count, available) {
        orderHub.server.addNewOrderDetail($('#UserId').val(), { 'ShopId': shopId, 'DisheId': id, 'Price': price, 'Count': count });
    }

    function AddOrderLayout(shopId, disheId, price, count, orderDetailID, available) {
        var $li = $('#dishe_' + disheId);
        var disheName = $li.attr('name');

        $li.find('.buy').next().addClass('check_mark').prev().remove();
        $li.addClass('dh_checked');

        var newOrder = new OrderList(disheId, disheName, price, count, orderDetailID);
        if (!orderList) {
            orderList = { 'shopId': shopId, 'shopName': $('#ShopName').val(), 'dishes': [] };
        }
        orderList.dishes.push(newOrder);

        $newOrder = new CreateNewOrder(orderList.dishes.length - 1, available);
        $('.order_ls').append($newOrder);

        totalOrderPrice += (parseInt(price) * count);
        OrderPriceChange(totalOrderPrice);
    }

    function OrderPriceChange(p, orderId, count) {
        if (orderId) {
            ChangeOrderDisheCount(orderId, count);
        }
        $('.order_tprice span.c').html('<strong>' + p + '</strong>元');
        if (p == 0) {
            $('.order_tprice').parent().find('.phonenum').remove();
        } else if ($('.order_tprice').parent().find('.phonenum').length == 0) {
            if(parseInt($('#UserLevel')) == 9)
                $('.order_tprice').after('<div class="phonenum"><a class="checkout green_btn" href="/shop/checkout">买单</a><div>');
           
           /* else
                $('.order_tprice').after('<div class="phonenum">电话：<span>' + $('.sh_phone span').text().replace(/\s/gm, '') + '</span></div>');
            */
        }
        //SetOrderCookie();
    }

    function ChangeOrderDisheCount(orderId, count) {
        orderHub.server.changeOrderDetail(orderId, count);
    }

    function SetOrderCookie() {
        var orders = { 'shopId': orderList.shopId, 'shopName': orderList.shopName, 'dishes': [] };

        $.each(orderList.dishes, function (index, dishe) {
            if (dishe && dishe.count > 0)
                orders.dishes.push({ 'id': dishe.id, 'name': dishe.name, 'price': dishe.price,
                    'count': dishe.count, 'orderDetailId': dishe.orderDetailId
                });
        });
        AddCookie('u_order=' + encodeURI(JSON.stringify(orders)), 1);
    }

    function ToggleMenuContent(e) {
        if ($(e).hasClass('now'))
            return false;


        var target = $(e).attr('target');
        $('.sh_m').children('div.' + target).prevAll().hide();
        $('.sh_m').children('div.' + target).show().nextAll().show();

        $('.menu.now').removeClass('now');
        $(e).addClass('now');
        MoveLayout();
        return false;
    }
</script>
<script type="text/javascript">
    $('.fav_on').bind('click', function () { CancelFavoriteShop(this) })
    .bind('mouseenter', function () { $(this).text('取消收藏'); })
    .bind('mouseleave', function () { $(this).text('已收藏'); });

    $('.fav_off').bind('click', function () { AddFavoriteShop(this) });

    function AddFavoriteShop(e) {
        $.post('/user/AddFavoriteShop', { 'shopId': shopId }, function (result) {
            if (result.type == 1) {
                $(e).removeClass('fav_off').addClass('fav_on').text('已收藏').unbind()
                .bind('mouseenter', function () { $(this).text('取消收藏'); })
                .bind('mouseleave', function () { $(this).text('已收藏'); })
                .bind('click', function () { CancelFavoriteShop(this) });
            }
            else if (result.type == 0)
                alert("添加失败，请稍后重试！");
            else if (result.type == 2) {
                ShowUserLoginDialog();
            }
        });
    }

    function CancelFavoriteShop(e) {
        $.post('/user/CancelFavoriteShop', { 'shopId': shopId }, function (result) {
            if (result.type == 1) {
                $(e).removeClass('fav_on').addClass('fav_off').text('已取消').unbind()
                .bind('click', function () { AddFavoriteShop(this) });
                setTimeout(function () { $(e).text('收藏店铺'); }, 500);
            }
        });
    }
</script>
