@model ZsfProject.Models.ShopDetailEditorModel
@{
    ViewBag.Title = (ViewContext.RouteData.Values["action"].ToString().ToLower() == "edit" ? Model.ShopInfo.Name + "_店铺编辑" : "创建店铺");
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
}
<h2 style="text-align: center">@ViewBag.Title</h2>
<div class="sh_edit_div">
    <div class="fieldset sh_bas_info">
        <h4>基本信息</h4>
        @Html.HiddenFor(m=>m.ShopInfo.Id)      
        <table class="edit_form" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        店名：
                    </td>
                    <td class="in_val">@Html.EditorFor(m => m.ShopInfo.Name)
                    </td>
                    <td class="tip">
                        必填
                    </td>
                </tr>
                <tr>
                    <td>
                        外卖号码：
                    </td>
                    <td class="in_val">@Html.EditorFor(m => m.ShopInfo.PhoneNumber)
                    </td>
                    <td class="tip">
                        多个号码请用逗号或空格隔开
                    </td>
                </tr>
                <tr>
                    <td>
                        店铺类别：
                    </td>
                    <td class="in_val">
                        <select id="ShopInfo_CategoryId" class="chzn-select" style="width: 150px">
                            @foreach (var item in (List<SelectListItem>)ViewBag.ShopCategorySelectList)
                            {
                                <option value="@item.Value"
                                @if (item.Selected)
                                {
                                    @:selected
                                }
                                >@item.Text</option>
                            }
                        </select>
                    </td>
                    <td class="tip">
                        必填
                    </td>
                </tr>
                <tr>
                    <td>
                        起送价：
                    </td>
                    <td class="in_val">@Html.EditorFor(m => m.ShopInfo.UpSendPrice)
                    </td>
                    <td class="tip">
                        可以不填
                    </td>
                </tr>
                <tr>
                    <td>
                        地址：
                    </td>
                    <td class="in_val">@Html.EditorFor(m => m.ShopInfo.Address)
                    </td>
                    <td class="tip">
                        必填
                    </td>
                </tr>
                <tr>
                    <td>
                        外送时间：
                    </td>
                    <td class="in_val time">
                        <select id="ShopInfo_OfficeTimeBegin" class="chzn-select" style="width: 100px">
                            @foreach(string timeItem in ViewBag.OffsetTime)
                            {
                                <option value="@timeItem" @(Model != null && timeItem == Model.ShopInfo.OfficeTimeBegin.ToString(@"h\:mm") || timeItem == "6:00"? "selected" : null)>@timeItem</option>
                            }
                        </select>
                        <label>
                            至</label>
                        <select id="ShopInfo_OfficeTimeEnd" class="chzn-select" style="width: 100px">
                            @foreach (string timeItem in ViewBag.OffsetTime)
                            {
                                <option value="@timeItem" @((Model != null && timeItem == Model.ShopInfo.OfficeTimeEnd.ToString(@"h\:mm")) || timeItem == "21:00" ? "selected" : null)>@timeItem</option>
                             }
                        </select>
                    </td>
                    <td class="tip">
                        必填
                    </td>
                </tr>
                <tr>
                    <td>
                        店铺照片：
                    </td>
                    <td colspan="2">
                        <img src="@ViewBag.ShopLogo" id="ShopInfo_Logo" />
                        <input class="file_upload" type="button" value="上传图片" onclick="ShowUploadImgBox()" />
                    </td>
                    @Html.HiddenFor(m => m.ShopInfo.Logo)
                </tr>
                <tr>
                    <td>
                        配送区域：
                    </td>
                    <td>
                        <select id="CityDistricts" class="chzn-select" style="width: 150px;">
                            <option value=""></option>
                        @foreach(var item in ViewBag.CityDistrictSelectList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                        </select>
                        <select id="ShopInfo_ServiceAraes" class="chzn-select" multiple="multiple" style="width: 100%;" placeholder="请选择配送区域">
                            @foreach(var item in (List<ZsfData.ServiceArea>)ViewBag.ServiceAreaSelectList)
                            {
                                <option value="@item.Id" parentid="@item.ParentId" selected="selected">@item.Value</option>
                            }
                        </select>
                    </td>
                    <td class="tip">
                        必填
                    </td>
                </tr>
                <tr>
                    <td>坐标：</td>
                    <td><label style="font-size:12px">经：</label><input id="ShopInfo_Longitude" type="text" pattern="[0-9\.]+" value="@(Model == null ? 0 : Model.ShopInfo.Longitude)" />
                    <br /><label style="font-size: 12px">纬：</label><input id="ShopInfo_Latitude" type="text" pattern="[0-9.]+" value="@(Model == null ? 0 : Model.ShopInfo.Latitude)"/></td>
                </tr>
                <tr>
                    <td>
                        备注：
                    </td>
                    <td class="in_val">@Html.TextAreaFor(m => m.ShopInfo.Remark)
                    </td>
                    <td class="tip">
                        可以不填
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="fieldset sh_dish">
        <h4>菜品</h4>
        <table class="edit_form dishe" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        类别：
                    </td>
                    <td class="in_val">
                        <input type="text" class="disheCategoryName" placeholder="输入要添加的类别名" /><span class="act_btn add_btn"
                            type="button" title="添加类别" onclick="AddDisheCategory(this)"></span><br />
                        <select id="DisheCategory" class="chzn-select" style="width:250px" data-placeholder="请选择类别">
                            @foreach (var item in (List<SelectListItem>)ViewBag.ShopDisheCategoryList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </td>
                    <td class="tip">1.在输入框内输入新的菜品分类，然后点击加号按钮进行添加<br/>2.下拉框中点击叉号，可删除已添加类别，<span style="color:#CF2329">同时会删除该类别包含的所有菜品！</span></td>
                </tr>
                <tr>
                    <td>
                        菜品：
                    </td>
                    <td class="in_val dishe_editor">
                        <label>名称</label><input type="text" class="disheName" maxlength="30" /><br />
                        <label class="p">价格</label><input type="text" class="dishePrice" /><span>元</span><span class="act_btn add_btn" type="button" action="add" title="添加菜品"></span><br />
                        <label>备注</label><input type="text" class="disheRemark" style="width:245px" maxlength="50" /><br />
                        <label>赠品</label><input type="text" class="disheGift" style="width: 245px" maxlength="30" />
                    </td>
                    <td class="tip"></td>
                </tr>
                <tr class="added">
                    <td>
                        已添加：
                    </td>
                    <td class="dishe_dt_editor" colspan="2">
                        @foreach (var cat in (List<SelectListItem>)ViewBag.ShopDisheCategoryList)
                        {
                            <ul id="DisheList_@(cat.Value)" class="cat_item_list"
                            @if (cat != ((List<SelectListItem>)ViewBag.ShopDisheCategoryList)[0])
                            {
                                @:style="display:none"
                            }>
                                @foreach(var item in Model.ShopDishesList.Where(r => r.CategoryId.ToString() == cat.Value).OrderByDescending(r => r.DisheOrder).OrderBy(r => r.Price))
                                {
                                    <li class="dishe_item" remark="@item.Remark" name="@item.Name" price="@item.Price" gift="@item.Gift"><span
                                        class="n">@item.Name</span><span class="p">(@(item.Price)元)</span><span class="d"
                                            onclick="DeleteDishe(this)"></span> </li>
                                }
                            </ul>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="sb_form"><input type="submit" value="提交" id="submitEdit" /></div>
</div>
<div class="img_upload_box">
    <h3>
        店铺图片上传</h3>
    <div>
        <div class="new_img_box">
            <div class="new_img_div">
                <img src="/Contents/Images/transparent.gif" class="new_img" /></div>
        </div>
        <div class="org_img_box">
            <div class="org_img_div">
                <img src="/Contents/Images/transparent.gif" class="org_img" /></div>
            <input id="selectImg" type="file" /></div>
        <div class="clear">
        </div>
    </div>
    <div class="btn">
        <input id="cancel" type="button" value="取消" onclick="CloseDialog()" /><input id="saveImg"
            type="button" value="保存" onclick="UploadCropImage()" /></div>
</div>
<script type="text/javascript">
    var imgZoomRatio = 1;
    var preViewZoom = 1;
    var imageUrl = '';
    var orgHeight = 0;
    var orgWidth = 0;
    var prevCropWidth = 0;
    var prevCropHeight = 0;
    var imgSizeRatio = 1;
    var $newImgTarget = $('.new_img_box .new_img');
    var cropX = 0;
    var cropY = 0;

    function CloseDialog() {
        $('.img_upload_box').hide();
        $('.shadow').hide();
    }

    function ShowUploadImgBox() {
        var bdWith = $(document).width();
        var bdHeight = $(document).height();
        var boxWidth = $('.img_upload_box').width();
        var boxHeight = $('.img_upload_box').height();
        var queueWidth = $('#img_upload_queue').width();

        $('.shadow').css({ 'width': bdWith, 'height': bdHeight }).show();
        $('.img_upload_box').css('left', (bdWith - boxWidth) / 2 + 'px').show();
        $('.uploadify-queue').css({ 'left': (boxWidth - queueWidth) / 2 + 'px', 'top': boxHeight / 2 });
    }

    function GetImageCrop(c) {
        var cropZoom = prevCropWidth / c.w;
        cropX = c.x * preViewZoom * cropZoom / imgZoomRatio;
        cropY = c.y * preViewZoom * cropZoom / imgZoomRatio;
        $newImgTarget.css({ 'width': orgWidth * preViewZoom * cropZoom, 'left': -cropX, 'top': -cropY });
    }

    function UploadCropImage() {
        if (orgHeight == 0) {
            CloseDialog();
            return;
        }
        var zoomRatio = $newImgTarget.width() / orgWidth;
        $.post('/Shop/CropShopLogo',
        { 'imgPath': $('.new_img_box .new_img').attr('src'), 'zoomRatio': zoomRatio, 'cropX': cropX, 'cropY': cropY, 'cropW': 200, 'cropH': 150 },
        function (result) {
            $('#ShopInfo_Logo').attr('src', result.value);
            $('#Logo').val(result.value);
            CloseDialog();
            $('.error.logo').html();
        });
    }

    $(document).ready(function () {
        $("#selectImg").uploadify({
            'height': 30,
            'swf': '/Scripts/uploadify/uploadify.swf',
            'uploader': '/Shop/UploadShopLogoPreview',
            'width': 100,
            'auto': true,
            'buttonClass': 'select_btn',
            'buttonText': '选择图片',
            'fileTypeDesc': '*.gif;*.jpg;*.png',
            'fileTypeExts': '*.jpg;*.png;*.gif',
            'queueSizeLimit': 1,
            'multi': false,
            'sizeLimit': 1048576,
            'onSelect': function () {
                $('.uploadify-queue').show();
            },
            'onUploadSuccess': function (file, data, reponse) {
                $('.uploadify-queue').hide();
                data = eval('(' + data + ')');

                orgWidth = data.ImageWidth;
                orgHeight = data.ImageHeight;
                var $zoomTarget = $('.org_img_box .org_img_div');
                var standWidth = $zoomTarget.width();
                var standHeight = $zoomTarget.height();

                var minSize = 0;
                var $orgImgTarget = $('.org_img_box .org_img');
                if (orgWidth > orgHeight) {
                    if (orgWidth > standWidth) {
                        imgZoomRatio = standWidth / orgWidth;
                        minSize = orgHeight * imgZoomRatio;
                    } else
                        minSize = orgHeight;

                    prevCropHeight = minSize;
                    prevCropWidth = prevCropHeight * 4 / 3;
                    $orgImgTarget.css({ 'width': standWidth, 'height': 'auto' });
                } else {
                    if (orgHeight > standHeight) {
                        imgZoomRatio = standHeight / orgHeight;
                        minSize = orgWidth * imgZoomRatio;
                    } else
                        minSize = orgWidth;

                    prevCropWidth = minSize;
                    prevCropHeight = prevCropWidth * 3 / 4;
                    $orgImgTarget.css({ 'height': standHeight, 'width': 'auto' });
                }
                imageUrl = data.FilePath + data.FileName;
                $orgImgTarget.attr('src', imageUrl);

                $orgImgTarget.Jcrop({
                    onChange: GetImageCrop,
                    onSelect: GetImageCrop,
                    aspectRatio: 4 / 3,
                    bgColor: "#757575",
                    setSelect: [0, 0, prevCropWidth, prevCropHeight]
                }, function () {
                    if (orgHeight > orgWidth)
                        preViewZoom = $('.new_img_box .new_img_div').width() / orgWidth;
                    else
                        preViewZoom = $('.new_img_box .new_img_div').height() / orgHeight;
                    $newImgTarget.css({ 'width': preViewZoom * orgWidth }).attr('src', imageUrl);
                });
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.fieldset h4').click(function () { $(this).parent().find('.edit_form').toggle(); });

        $('.chzn-select[id!=DisheCategory]').chosen({ search_contains: true });

        $('#DisheCategory').chosen({ allow_single_reitem: true, search_contains: true })
        .removeItem(function (e) {
            $('#DisheList_' + $(e).val()).remove();
        }).change(function () {
            $('.cat_item_list').hide();
            $('#DisheList_' + $(this).val()).show(300);
        });

        $('#CityDistricts_chzn').css('margin-bottom', '10px');

        $('.dishe_editor .add_btn').bind('click', AddDishe);
        $('.dishe_item').bind('click', DisheItemClick);

        $('#CityDistricts').change(function () {
            var curtVal = [];
            var curtOption = [];
            $('#ShopInfo_ServiceAraes option:selected').each(function () {
                curtOption.push({ 'Id': $(this).val(), 'Value': $(this).text() });
                curtVal.push(parseInt($(this).val()));
            });

            $('#ShopInfo_ServiceAraes').empty();
            $.post('/shop/GetServiceAreas', { id: $(this).val() },
            function (result) {
                $.each(curtOption, function (i, item) {
                    $('#ShopInfo_ServiceAraes').append('<option value=' + item.Id + ' selected="selected">' + item.Value + '</option>');
                });

                $.each(result, function (i, item) {
                    if ($.inArray(item.Id, curtVal) == -1) {
                        $('#ShopInfo_ServiceAraes').append('<option value=' + item.Id + ' parentid=' + item.ParentId + '>' + item.Value + '</option>');
                    }
                });
                $('#ShopInfo_ServiceAraes').trigger('liszt:updated');
            });
        });

        $('.disheCategoryName').keypress(function (event) { RemoveInputNoticeStyle(this); if (event.which == 13) AddDisheCategory(); });
        BindRemoveInputNoticeStyle('.disheCategoryName');
        BindRemoveInputNoticeStyle('.disheName');
        BindRemoveInputNoticeStyle('.dishePrice');
        $('.dishePrice').bind('keyup', function (event) {
            var orgVal = $(this).val();
            $(this).val(orgVal.replace(/[^\d.]/g, ""));
        });
        $('.dishe_editor input[type=text]').bind('keypress', function (event) {
            RemoveInputNoticeStyle(this);
            if (event.which == 13)
                $('.dishe_editor .act_btn[type=button]').trigger('click')
        });
    });

    function BindRemoveInputNoticeStyle(target) {
        $(target).focus(function () { RemoveInputNoticeStyle(this); });
    }

    function RemoveInputNoticeStyle(target) {
        $(target).css({ 'border-color': '', 'border-width': '' });
    }
    function AddInputNoticeStyle(target){
        $(target).css({ 'border-color': '#e93e44', 'border-width': '2px' });
    }


    function DisheItemClick() {
        var tg = $(this);
        $('.dishe_item').removeClass('hover');
        $(this).addClass('hover');
        $('.dishe_editor .dishePrice').val(tg.attr('price'));
        $('.dishe_editor .disheRemark').val(tg.attr('remark'));
        $('.dishe_editor .disheGift').val(tg.attr('gift'));
        $('.dishe_editor .disheName').val(tg.attr('name')).focus();

        if ($('.dishe_editor .edit_btn').length == 0)
            $('.dishe_editor .add_btn').removeClass('add_btn').addClass('edit_btn')
            .attr({ 'title': '修改菜品', 'action': 'edit' })
            .unbind('click').bind('click', { target: tg }, EditDishe);
        else
            $('.dishe_editor .edit_btn').unbind('click').bind('click', { target: tg }, EditDishe);

        if ($('.dishe_editor .undo_btn').length == 0)
            $('.dishe_editor .edit_btn').after('<span class="act_btn undo_btn" title="取消修改"></span>');

        $('.undo_btn').bind('click', UndoButtonClick);
    }

    function AddDisheCategory() {
        var dCatName = $('.disheCategoryName').val();
        if (!dCatName) {
            AddInputNoticeStyle('.disheCategoryName');
            return;
        }
        var dCatIds = new Array();
        $('#DisheCategory option').each(function () {
            dCatIds.push($(this).val());
        });

        var dCatId = CreateRandom(dCatIds, 100);

        var option = new Option(dCatName, dCatId);
        $('#DisheCategory').append(option).val(dCatId).trigger('liszt:updated');
        $('.cat_item_list').hide(300);
        $('.dishe_dt_editor').append('<ul id="DisheList_' + dCatId + '" class="cat_item_list"></ul>');
        $('.disheCategoryName').val('');

        if ($('.dishe_editor .edit_btn'))
            $('.dishe_editor .edit_btn').removeClass('edit_btn').addClass('add_btn')
            .attr({ 'title': '添加菜品', 'action': 'add' }).unbind('click')
            .bind('click', AddDishe).next().remove();

        EmptyDisheEditor();
    }

    function CreateRandom(excludes, maxLimit) {
        var ran = Math.floor(Math.random() * maxLimit);
        for (var x in excludes)
            if (x == ran)
                ran = CreateRandom(excludes, maxLimit);
        return ran;
    }

    function EditDishe(event) {
        var target = event.data.target;
        var dName = $('.disheName').val();
        var dPrice = $('.dishePrice').val();
        var dRemark = $('.disheRemark').val();
        var dGift = $('.disheGift').val();
        if (dName == '') {
            AddInputNoticeStyle('.disheName');
            return false;
        }
        if (dPrice == '') {
            AddInputNoticeStyle('.dishePrice');
            return false;
        }
        target.find('span.n').text(dName);
        target.find('span.p').text('(' + dPrice + '元)');
        target.attr({ 'name': dName, 'price': dPrice, 'remark': dRemark, 'gift': dGift }).removeClass('hover'); 

        $(this).removeClass('edit_btn').addClass('add_btn')
            .attr({ 'title': '添加菜品', 'action': 'add' }).unbind('click')
            .bind('click', AddDishe).next().remove();

        EmptyDisheEditor();
    }

    function AddDishe() {
        var dCat = $('#DisheCategory').val();
        if (!dCat) {
            $('.error.category').html('请选择菜品类别！');
            return false;
        }
        var dName = $('.disheName').val();
        var dPrice = $('.dishePrice').val();
        var dRemark = $('.disheRemark').val();
        var dGift = $('.disheGift').val();

        if (dName == '') {
            AddInputNoticeStyle('.disheName');
            return false;
        }
        if (dPrice == '') {
            AddInputNoticeStyle('.dishePrice');
            return false;
        }

        $newDisheLi = $('<li style="display:none" class="dishe_item" name="' + dName + '" price="' + dPrice
        + '" remark="' + dRemark + '" gift="' + dGift + '"><span class="n">' + dName
            + '</span><span class="p">(' + dPrice + '元)</span><span class="d" onclick="DeleteDishe(this)"></span></li>');
        $newDisheLi.bind('click', DisheItemClick);
        $('#DisheList_' + dCat).append($newDisheLi);
        $newDisheLi.show(300);

        EmptyDisheEditor();
    }

    function DeleteDishe(e) {
        $(e).parent().remove();
    }

    function UndoButtonClick() {
        $('.dishe_item').removeClass('hover');
        EmptyDisheEditor();
        $(this).prev().removeClass('edit_btn').addClass('add_btn').attr({ 'title': '添加菜品', 'action': 'add' }).unbind('click').bind('click', AddDishe);
        $(this).remove();
    }

    function EmptyDisheEditor() {
        $('.dishe_editor .dishePrice').val('');
        $('.dishe_editor .disheRemark').val('');
        $('.dishe_editor .disheGift').val('');
        $('.dishe_editor .disheName').val('').focus();
    }

</script>
<script type="text/javascript">
    var ShopBaseInfo = function () {
        this.Id = -1;
        this.Name;
        this.PhoneNumber;
        this.CategoryId;
        this.UpSendPrice = 0;
        this.Address = "";
        this.OfficeTimeBegin;
        this.OfficeTimeEnd;
        this.Logo;
        this.ServiceAreas;
        this.Remark = "";
        this.Longitude = 0;
        this.Latitude = 0;
    }

    var Dishe = function (name, price, remark, gift) {
        this.Name = name;
        this.Price = price;
        this.Remark = remark;
        this.Gift = gift ? gift : '';
    }

    var DisheWithCategoryDetail = function () {
        this.CategoryName;
        this.Dishes;
    }

    var ShopData = function () {
        this.ShopBaseInfo;
        this.DisheWithCategoryDetail;
    }
    $('#submitEdit').click(function () {
        var shopData = new ShopData();
        var shopBaseInfo = new ShopBaseInfo();
        if ($('#ShopInfo_Id').val())
            shopBaseInfo.Id = $('#ShopInfo_Id').val();
        shopBaseInfo.Name = $('#ShopInfo_Name').val();
        shopBaseInfo.PhoneNumber = $('#ShopInfo_PhoneNumber').val();
        shopBaseInfo.CategoryId = $('#ShopInfo_CategoryId').val();
        shopBaseInfo.UpSendPrice = $('#ShopInfo_UpSendPrice').val() ? $('#ShopInfo_UpSendPrice').val() : 0;
        shopBaseInfo.Address = $('#ShopInfo_Address').val();
        shopBaseInfo.OfficeTimeBegin = $('#ShopInfo_OfficeTimeBegin').val();
        shopBaseInfo.OfficeTimeEnd = $('#ShopInfo_OfficeTimeEnd').val();
        shopBaseInfo.Logo = $('#ShopInfo_Logo').attr('src');
        shopBaseInfo.ServiceAreas = $('#ShopInfo_ServiceAraes').val();
        shopBaseInfo.Remark = $('#ShopInfo_Remark').val();
        shopBaseInfo.Longitude = $('#ShopInfo_Longitude').val();
        shopBaseInfo.Latitude = $('#ShopInfo_Latitude').val();
        shopData.ShopBaseInfo = shopBaseInfo;

        var disheWithCategories = new Array();
        $('#DisheCategory option').each(function () {
            var catName = $(this).text();
            var catId = $(this).val();
            var disheCategory = new DisheWithCategoryDetail();
            disheCategory.CategoryName = catName;
            disheCategory.Dishes = new Array();

            $('#DisheList_' + catId + ' li').each(function () {
                disheCategory.Dishes.push(
                new Dishe($(this).attr('name'),
                parseFloat($(this).attr('price')),
                $(this).attr('remark'),
                $(this).attr('gift'))
                );
            });
            disheWithCategories.push(disheCategory);
        });

        shopData.DisheWithCategoryDetail = disheWithCategories;


        $.post(window.location, { 'shopData': JSON.stringify(shopData) },
        function (result) {
            if (result.status == 1)
                window.location = result.url;
            else
                alert(result.data);
        });
    });
</script>
