@model ZsfData.ShopJobAd
@{
    ViewBag.Title = "发布招聘信息";
    Layout = "~/Views/Shared/_NoHeaderLayout.cshtml";
}
<h2 style="text-align: center">@ViewBag.Title</h2>
<div class="fieldset">
@using(Html.BeginForm(null, null, FormMethod.Post, new { @autocomplete = "off" }))
{
<table class="edit_form" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>店铺：</td>
        <td class="in_val">
            <label>区域</label><select id="CityDistricts" class="chzn-select" style="width: 200px;">
                <option value=""></option>
                @foreach(SelectListItem item in ViewBag.CityDistrictSelectList)
                {
                    <option value="@item.Value" @(item.Selected ? "selected" : null)>@item.Text</option>
                }
            </select><br />
            <label style="margin-top:10px">地点</label><select id="ServiceAraes" class="chzn-select" style="width:200px;" placeholder="请选择配送区域">
            </select><br />
            <label>店铺</label><select id="ShopId" name="ShopId" class="chzn-select" style="width:200px;">
                @foreach(SelectListItem item in ViewBag.ShopsSelectList)
                {
                    <option value="@item.Value" selected="selected">@item.Text</option>
                }
            </select>
        </td>
        <td class="tip">选择你的店铺</td>
    </tr>
    <tr>
        <td>职位：</td><td class="in_val">@Html.EditorFor(m => m.JobTitle, new { @maxlength = "30" })</td><td class="tip">必填</td>
    </tr>
    <tr>
        <td>工作类型：</td><td>
            <select id="JobType" name="JobType" class="chzn-select" style="width:100px">
                <option value="P" @(Model != null && Model.JobType == "P" ? "selected" : null)>兼职</option>
                <option value="F" @(Model != null && Model.JobType == "F" ? "selected" : null)>全职</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>薪水：</td><td class="in_val saly">@Html.EditorFor(m => m.SalaryMin)~@Html.EditorFor(m => m.SalaryMax)<span>元/月</span></td><td class="tip">可不填</td>
    </tr>
    <tr><td>工作地点：</td><td class="in_val">@Html.EditorFor(m => m.WorkPlace, new { @maxlength = "30" })</td><td class="tip">如不填写，默认工作地点为本店内</td></tr>
    <tr><td>联系电话：</td><td class="in_val">@Html.EditorFor(m => m.ContactPhone, new { @maxlength = "30" })</td><td class="tip">必填</td></tr>
    <tr><td>职位描述：</td><td class="in_val">@Html.TextAreaFor(m => m.Description, new { @maxlength = "300" })</td><td class="tip">必填</td></tr>
</table>
<div class="sb_form"><input type="submit" value="发布" /></div>
}
</div>
<script type="text/javascript">
    $('.chzn-select').chosen({ search_contains: true });

    $(document).ready(function () {
        BindRemoveInputNoticeStyle('input[type="text"]');
        BindRemoveInputNoticeStyle('#Description');

        $('#CityDistricts').change(function () {
            $('#ServiceAraes').empty();
            $.post('/shop/GetServiceAreas', { id: $(this).val() },
            function (result) {
                $.each(result, function (i, item) {
                    $('#ServiceAraes').append('<option value=' + item.Id + ' parentid=' + item.ParentId + '>' + item.Value + '</option>');
                });
                $('#ServiceAraes').trigger('liszt:updated').trigger('change');
            });
        });

        $('#ServiceAraes').change(function () {
            $('#ShopId').empty();
            $.post('/Job/GetShopNamesByServiceArea', { id: $(this).val() },
            function (result) {
                $.each(result, function (i, item) {
                    $('#ShopId').append('<option value=' + item.Id + '>' + item.Name + '</option>');
                });
                $('#ShopId').trigger('liszt:updated');
            });
        });

        if ($('#CityDistricts').val())
            $('#CityDistricts').trigger('change');
    });


    $('form').submit(function () {
        if (!$('#ShopId').val()) {
            alert('请选择店铺！');
            return false;
        }

        if (!$('#JobTitle').val()) {
            AddInputNoticeStyle('#JobTitle');
            return false;
        }

        if (!$('#ContactPhone').val()) {
            AddInputNoticeStyle('#ContactPhone');
            return false;
        }

        if (!$('#Description').val()) {
            AddInputNoticeStyle('#Description');
            return false;
        }
    });

   function BindRemoveInputNoticeStyle(target) {
        $(target).focus(function () { RemoveInputNoticeStyle(this); });
    }

    function RemoveInputNoticeStyle(target) {
        $(target).css({ 'border-color': '', 'border-width': '' });
    }
    function AddInputNoticeStyle(target){
        $(target).css({ 'border-color': '#e93e44', 'border-width': '2px' });
    }
</script>