@model IQueryable<ZsfData.V_ShopJobAd>
@{
    ViewBag.Title = ViewBag.ShopName + "招聘_";
    string userLevel = ZsfProject.Models.ZsfAuthorizeAttribute.GetRole(User.Identity.Name);
}
<div class="jobs_main">
    <div class="jobs_content">
      <div class="jbs_form">
                    <form action="/job" method="get" id="jobSearchForm">
                    <input type="text" id="jobTitle" name="jobTitle"
                    value="@(String.IsNullOrWhiteSpace(ViewBag.JobSearchName) ? "请输入关键词" : ViewBag.JobSearchName)" 
                        onfocus="if(this.value=='请输入关键词'){this.value='';this.style.color='black'}"
                        onblur="if(this.value==''){this.value='请输入关键词';this.style.color='#999'}else if(this.value !='请输入关键词'){this.style.color='black'}" /><input
                            type="submit" class="btn" value="" />
                    </form>
                </div>
        <div class="job_list">
            @if(!Model.Any())
            {
                <h3 class="nojob">这个区域暂时没有招聘信息</h3>
            }
            @{int jobIndex = 1;}
            @foreach(var item in Model)
            {
                <div class="job_item">
                    <h3>
                    @if(userLevel == "9" || item.LastModifyByUserName == User.Identity.Name)
                    {
                        <a class="sh_action_icon edit_icon" href="/job/edit/@item.Id"></a>
                    }
                    <span class="index">@(jobIndex++)</span>@item.JobTitle<span class="pt">@item.PublishedAt.ToString("yyyy-MM-dd") 发布</span>
                    <div class="clear"></div>
                    </h3>
                    <table class="job_@(item.Id)" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="tl sn">店铺</td>
                            <td colspan="3" class="sn"><a href="/shop/detail/@item.ShopId" target="_blank" >@item.ShopName</a> (@item.ShopLocation)</td>
                            <td class="tl sn">联系电话</td>
                            <td class="sn">@item.ContactPhone</td>
                        </tr>
                        <tr>
                            <td class="tl">工作类型</td>
                            <td class="jp">@(item.JobType == "F" ? "全职" : "兼职")</td>
                            <td class="tl">薪水</td><td class="js">
                                @if(item.SalaryMin != 0)
                                {
                                    @item.SalaryMin
                                    if(item.SalaryMax != 0)
                                    {
                                    @("-" + item.SalaryMax)
                                    }
                                }
                                else
                                {
                                    @:面议
                                }
                            </td>
                            <td class="tl">工作地点</td><td class="jl">@(String.IsNullOrWhiteSpace(item.WorkPlace) ? "本店内" : item.WorkPlace)
                            </td>
                        </tr>
                        <tr><td colspan="6" class="jd"><strong>工作内容：</strong><br />@Html.Raw(item.Description)</td></tr>
                    </table>
                </div>
            }
        </div>
        @RenderPage("~/Views/Shared/_NoParamsPageIndex.cshtml")
    </div>
</div>
<script type="text/javascript">
    $('#jobSearchForm').submit(function () {
        if (!$('#jobTitle').val() || $('#jobTitle').val() == "请输入关键词")
            return false;
    });
</script>

