@model ZsfProject.Models.ShopsListModel
@{
    string areaName = ViewBag.ServiceAreaName;
    if (!String.IsNullOrWhiteSpace(areaName))
    {
        ViewBag.Title = areaName + "周边外卖店_";
        ViewBag.Description = "宅食府为您找到了" + areaName + "周边" + ViewBag.shopsCount + "家外卖店信息。";
        ViewBag.KeyWords = areaName + "外卖 " + areaName + "外卖电话 ";  
    }
    
    int pageNowIndex = ViewBag.PageNowIndex;
    int pageSize = ViewBag.PageSize;
    int pagesCount = ViewBag.PagesCount;
    int pageStartIndex = ViewBag.PageStartIndex;
    int pageEndIndex = ViewBag.PageEndIndex;
}
<div  class="shop_list_box">
<div class="ctg_list">
    <ul>
        <li><a href="/" class="@(ViewBag.CategoryId == 0 ? "now" : "")">全部 (@ViewBag.TotalShopsCount)</a></li>
        @foreach (var item in Model.ShopCategoriesList)
        {
            <li>
            <a href="/shop/list/@item.CategoryId" class="@(ViewBag.CategoryId == item.CategoryId ? "now" : "")">@item.CategoryValue (@item.CoverShopsCount)</a></li>
        }
        <div class="clear"></div>
    </ul>
</div>
<div class="list_box">
    <div class="order_by">
        <strong>排序方式：</strong>@Html.RouteLink("默认", "ShopListPage", new { id = ViewBag.CategoryId, p = pageNowIndex}, new { @class = (ViewBag.SortBy == "default" ? "now" : "") })
        @Html.ActionLink("评分最高", null, new { id = ViewBag.CategoryId, p = pageNowIndex, s = "grade" }, new { @class = (ViewBag.SortBy == "grade" ? "now" : "") })
        @Html.ActionLink("速度最快", null, new { id = ViewBag.CategoryId, p = pageNowIndex, s = "speed" }, new { @class = (ViewBag.SortBy == "speed" ? "now" : "") })
        @Html.ActionLink("起送价最低", null, new { id = ViewBag.CategoryId, p = pageNowIndex, s = "price" }, new { @class = (ViewBag.SortBy == "price" ? "now" : "") })
    </div>
    <div class="shop_ls">
        @{int shopIndex = 1;}
        @foreach (var item in Model.ShopsList)
        {
            <a class="@(shopIndex % 4 == 0 ? "shop last" : "shop")" href="/shop/detail/@item.Id">
                <span class="name">@item.Name</span>
                <span class="stars small"><span class="stars_on" style="width:@(item.Stars * 100 / 5)%"></span></span>
                <span class="up_price"><strong>@(item.UpSendPrice)元</strong>起送，人均消费<strong>@(item.AveragePayMoney)元</strong></span>
                <span class="ads">地址：@item.Address</span>
            </a>
            shopIndex++;
        }
    </div>
    <div class="page_list">
        <ul class="pg_ul">
            @if (pageNowIndex > 1)
            {
                if (pagesCount > 9)
                {
                <li class="f">@Html.ActionLink("首页", null, new { id = ViewBag.CategoryId, p = 1, s = ViewBag.SortBy })</li>
                }
                <li class="p">@Html.ActionLink("<<", null, new { id = ViewBag.CategoryId, p = pageNowIndex - 1, s = ViewBag.SortBy })</li>
            }
            @if (pagesCount != 1)
            {
                for (int i = pageStartIndex; i <= pageEndIndex; i++)
                {
                <li class="i">
                    @if (i == pageNowIndex)
                    {
                        <strong>@i</strong>
                    }
                    else
                    {
                        @Html.ActionLink(i.ToString(), null, new { id = ViewBag.CategoryId, p = i, s = ViewBag.SortBy });
                    }
                </li>
                }
            }
            @if (pagesCount > pageNowIndex)
            {
                <li class="n">@Html.ActionLink(">>", null, new { id = ViewBag.CategoryId, p = pageNowIndex + 1, s = ViewBag.SortBy })</li>
                if (pagesCount > 9)
                {
                <li class="l">@Html.ActionLink("末页", null, new { id = ViewBag.CategoryId, p = pagesCount, s = ViewBag.SortBy })</li>
                }
            }
        </ul>
    </div>
</div>
<div class="clear">
</div>
</div>
