@model ZsfProject.Models.ChangePassword
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewBag.Title = "修改密码";
}
<div class="chpwd_box">
    <h4>@ViewBag.Title</h4>
    @using (Html.BeginForm())
    {
    <table border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)：</td>
                <td class="area">@Html.PasswordFor(m => m.NewPassword)</td>
                <td class="tip">同时包含数字、字母或字符</td>
            </tr>
            <tr class="error">
                <td></td>
                <td class="new_error" colspan="2"></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPasswordConfirm)：</td>
                <td class="area">@Html.PasswordFor(m => m.NewPasswordConfirm)</td>
                <td class="tip">再次输入新密码</td>
            </tr>
            <tr class="error">
                <td></td>
                <td class="cfm_error" colspan="2"></td>
            </tr>
            <tr>
                <td class="btn" colspan="3"><input type="submit" value="修改" /></td>
            </tr>
        </tbody>
    </table>
    }
</div>
<script type="text/javascript">
    $('#NewPassword').focus(function () {
        $('.new_error').html('');
    });

    $('#NewPasswordConfirm').focus(function () {
        $('.cfm_error').html('');
    });

    var pwdReg = /^\d+$|^[a-z|A-Z]+$/;
    $(document).ready(function () {
        $('form').submit(function () {
            var pwd = $('#NewPassword').val();
            if (pwd == '' || pwdReg.test(pwd)) {
                $('.new_error').html('密码必须包含字母、数字或字符');
                return false;
            }

            var cfm_pwd = $('#NewPasswordConfirm').val();
            if (cfm_pwd == '' || cfm_pwd != pwd) {
                $('.cfm_error').html('确认密码与新密码不一样');
                return false;
            }
        });
    });
</script>

