@model ZsfProject.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "用户注册";
}
<div class="reg_box">
@using (Html.BeginForm("Register", null, FormMethod.Post, new { id = "reg_form" }))
{
    @Html.Hidden("returnUrl", Request.QueryString["returnUrl"])
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr><th colspan="3">用户注册</th></tr>
        </thead>
        <tbody>
            <tr>
                <td class="lb">邮箱：</td>
                <td class="in_val">@Html.TextBoxFor(m => m.Email)</td>
                <td class="tip">必填</td>
            </tr>
            <tr class="error">
                <td></td>
                <td class="email_error" colspan="2"></td>
            </tr>
            <tr>
                <td class="lb">用户名：</td>
                <td class="in_val">@Html.TextBoxFor(m => m.UserName)</td>
                <td class="tip">必填</td>
            </tr>
            <tr class="error">
                <td></td>
                <td class="name_error" colspan="2"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td class="in_val">@Html.PasswordFor(m => m.Password)</td>
                <td class="tip">6~15位字符，必须同时包含字母、数字</td>
            </tr>
            <tr class="error">
                <td></td>
                <td class="pwd_error" colspan="2"></td>
            </tr>
            <tr class="valid">
                <td>验证码：</td>
                <td colspan="2" class="val">
                    @Html.TextBoxFor(m => m.ValidateCode)
                    <img id="validate_img" alt="" title="点击换一张" src="/User/GetImageValidate" onclick="this.src='/User/GetImageValidate?random='+Math.random(); return false;" />
                    看不清？<a href="javascript:void(0)" onclick="document.getElementById('validate_img').src='/User/GetImageValidate?random='+Math.random(); return false;">换一张</a>
                </td>
            </tr>
            <tr class="error">
                <td></td>
                <td class="val_error" colspan="2">@Html.ValidationMessageFor(m => m.ValidateCode, null, new { id = "valid_error" })</td>
            </tr>
            <tr>
                <td class="btn" colspan="3"><input type="submit" value="注册" />
                <span>已有账号？@Html.ActionLink("马上登录", "Login", new { returnUrl = Request.QueryString["returnUrl"] })</span></td>
            </tr>
        </tbody>
    </table>
}
</div>
<script type="text/javascript" src="@Url.Content("~/Scripts/register.js")"></script>
