<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@(ViewBag.Title)_宅食府_外卖信息库</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="@(ViewBag.Description)宅食府——为您提供最全面的外卖信息，让您永不饿肚子，叫外卖就上宅食府。" />
    <meta name="keywords" content="@(ViewBag.KeyWords)外卖 外卖信息库 网上订餐 外卖号码 宅食府" />
    <link href="@Url.Content("~/Contents/Css/user_reg.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div>
         <div class="logo"><a href="/"><img src="/Contents/Images/logo.gif" alt="首页" title="首页" /></a></div>
        @RenderBody()
    </div>
</body>
</html>
