<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html manifest="http://www.google.com.hk/?mnfst=1">
<head>
    <meta content="width=device-width,minimum-scale=1.0" name="viewport">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <title>@(ViewBag.Title)宅食府</title>
    <meta name="description" content="@(ViewBag.Description)宅食府——为您提供周边最全面的外卖信息，包括外卖号码、菜谱等，让您永不饿肚子，叫外卖就上宅食府。" />
    <meta name="keywords" content="@(ViewBag.KeyWords)外卖 外卖信息库 网上订餐 外卖号码 宅食府" />
    <link href="@Url.Content("~/Contents/Css/Mobile/main.css")" rel="stylesheet" type="text/css" />
    @{
        string serviceAreaId = "", serviceAreaName = "";
        ZsfProject.Models.UserModel.GetUserDefaultAreaSetting(ref serviceAreaId, ref serviceAreaName);
                RouteValueDictionary routeValues = ViewContext.RouteData.Values;
                string nowController = routeValues["controller"].ToString().ToLower();
        string nowAction = routeValues["action"].ToString().ToLower();
    }
    @if(nowController == "about")
    {
        <link href="@Url.Content("~/Contents/Css/Mobile/about.css")" rel="stylesheet" type="text/css" />
    }
    else if(nowController == "shop" && nowAction == "detail")
    {
        <link href="@Url.Content("~/Contents/Css/Mobile/shop_detail.css")" rel="stylesheet" type="text/css" />
    }
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="header">
        <div class="logo"><a href="/"><img src="/Contents/Images/logo.png" height="30" /></a><span style="color:White; font-size:12px; margin-left:10px; margin-bottom:10px">手机版</span></div>
        <div class="my_loct" onclick="showServiceAreaSetting(this)" areaid="@serviceAreaId"><span class="area">@serviceAreaName</span><br /><span>[切换地点]</span></div>
        <div class="clear"></div>
    </div>
    <div class="main">
        @*<div class="search_box">
            <div class="s_form">
                <form action="/shop/qsearch" method="post" id="searchForm" >
                    <input type="text" id="shopName" name="shopName" value="@(String.IsNullOrWhiteSpace(ViewBag.SearchName) ? "" : ViewBag.SearchName)" placeholder="请输入店铺名" /><input type="submit" class="btn" value="" />
                </form>
            </div>*@
        </div>
        <div class="cnt">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        @RenderPage("~/Views/Shared/_MobileFooter.cshtml")
    </div>
    <div class="dialog area_box">
        <h3><img class="close" src="/Contents/Images/close_14.png" onclick="CloseDialogBox(this)"title="关闭" />选择地点<div class="clear"></div></h3>
        <ul>
            <li class="a_d_item" areaid="6">宁波大学(本部)</li>
            <li class="a_d_item" areaid="16">宁波大学科学技术学院</li>
            <li class="a_d_item" areaid="26">浙江纺织服装职业技术学院</li>
            <li class="a_d_item" areaid="24">浙江万里学院</li>
            <li class="a_d_item" areaid="25">浙江医药高等专科学校</li>
        </ul>
    </div>
    <div class="shadow"></div>
    <script type="text/javascript">
        if ($('#shopName').val() != '' && $('#shopName').val() != '输入店铺名')
            $('#shopName').css('color', 'black');

        function showServiceAreaSetting(e) {
            var $target = $('.area_box');
            var bdWidth = $(document).width();
            var bdHeight = $(document).height();
            var areaId = $(e).attr('areaid');


            $target.find('.a_d_item[areaid=' + areaId + ']').addClass('hover');
            $target.find('.a_d_item[areaid!=' + areaId + ']').removeClass('hover');

            ShowShadow();
            $target.css({
                'top': '50px',
                'left': (bdWidth - $target.width()) / 2
            }).show();
        }

        function changeServiceAreaSetting(e) {
            var areaId = $(e).attr('areaid');
            $('.area_box').html('<h4 style="text-align:center">正在刷新，请稍等...</h4>');
            $.post('/User/ChangeUserServiceArea', { 'areaId': areaId }, function () {
                window.location.href = '/';
            });
        }
        function ShowShadow() {
            $('.shadow').css({ 'width': $(document).width(), 'height': $(document).height() }).show();
        }

        function HideShadow() {
            $('.shadow').hide();
        }

        function CloseDialogBox(e) {
            $(e).parents('.dialog').hide();
            HideShadow();
        }
        $(document).ready(function () {
            var areaReg = new RegExp("(^| )udefaultarea=([^;]*)(;|$)");
            if (!document.cookie.match(areaReg))
                showServiceAreaSetting('.ser_area');

            $('li.a_d_item').click(function () {
                changeServiceAreaSetting(this);
            });

            $('#searchForm').submit(function () {
                if ($('#shopName').val() == '')
                    return false;
            });

        });
    </script>
<script type="text/javascript">
    var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-36449164-1']);_gaq.push(['_setDomainName', 'zhaishifu.com']);_gaq.push(['_trackPageview']);(function () {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();
</script>
</body>
</html>
